* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  /** Fallback for browsers without css variables */
  height: 100vh;
  max-height: 100vh;
  /**
   * Deal with mobile browser status bars.
   * Requires a css variable named --vh provided
   * by useViewportHeight() hook.
   */
   height: calc(var(--vh, 100vh));
   max-height: calc(var(--vh, 100vh));

  width: 100vw;
}

.c_app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;

  &__cmd {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 80vw;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 80vw;

    :nth-child(2) {
      display: block;
      text-align: left;
      width: 130px;
    }

    &:focus {
      outline: 0;
    }

    background-color: #aaa;
    &:enabled {
      &.start {
        background-color: red;
      }
      &.stop {
        background-color: green;
      }
    }
  }

  &__group-label {
    text-decoration: underline;
  }

  &__group-name {
    border: 1px solid #ccc;
    font-size: 2rem;
    padding: 10px;
    &:focus {
      outline: 0;
    }
    &:read-only {
      background-color: #ccc;
    }
    &::placeholder {
      color: #ddd;
    }
  }

  &__group-items,
  &__summary {
    list-style: none;
  }
}